.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: auto;
  display: flex;
  flex-direction:column;
  justify-content: center;
  background-color: #f2f2f2;
}
.header__title {
  max-width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  justify-content: space-between;
  z-index: 1;
  border: 1px solid red;
}
.header__subtitle{
  width: 388px;
  left: 64px;
  position: absolute;
  bottom: 30px;
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
  border: 1px solid red;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  right: 0;
  position: absolute;
  bottom: 0;
  border: 1px solid red;
}
.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0px;
  margin: 0 0 0  64px;
  background-color: #2f80ed;
  border: 1px solid red;
}
.logo {
  background-image: url(../imeges/logo_place_header.svg);
}
.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
  border: 1px solid red;
}
.description {
  display: flex;
  position: relative;
  width: 80%;
  min-height: 100px;
  min-width: 784px;
  top: 100px;
  justify-content: space-between;
}
.main-text {
  width: 80%;
}
.two-columns {

}
.two-columns__brief {
  width: 175px;
  color: #2f80ed;
}
.two-columns__brief_header_font {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  line-height: 1,2 px;
  
}
.two-columns__main-text {
  width: 80%;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph_font {
  
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;

}
.section-title {
  margin: 0;
  padding: 0;
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 1,15 px;
  z-index: 2;
}
.section-subtitle {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  text-align: center;
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34 px;
  z-index: 2;
}
.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 0;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
  list-style: none;
}
.table__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1,15 px;
}
.table__text {
  margin: 20px 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1,2 px;
}
.feynman {
  height: 890px;
  position: relative;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom 0 left 0;
  background-color: #f2f2f2;
}
.feynman__title {
  width: 648px;
  margin: auto;
  padding-top: 100px;
  text-align: center;
  line-height: 1,15;
  font-size: 120px;
}
.feynman__subtitle {
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  text-align: center;
  margin: auto;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size:36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
}
.feynman_illustration {
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  position: absolute;
}
.section-title_theme_dark {
  color: white;
}
.section-subtitle_theme_dark {
  color: white;
}
.table_theme_dark {
  color: white;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}
.table__heading_theme_dark {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text_theme_dark {
  color: white;
}
.kaufman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 90px 0;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 1;
  
}
.kaufman__triangle {
  width: 877px;
  height:877px;
  background-image: url(../images/kaufman-triangle.svg);
  top: 0;
  right: -210px;
  position: absolute;
  z-index: -1;
  
}
.footer {
  min-height: 350px;
  display: flex;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  justify-content: center;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content_info {

}
.footer__column-heading {
  margin: 0;
  padding: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
  list-style: none;
  padding: 0;
}
.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.logo_place_footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  margin: 18px 0;
  padding: 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
